@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');




a{ /*para todos os link*/
    font-family: 'Poppins', sans-serif;
    color: #372a25;
    font-size: 1.0rem;
    
}

.centralizar-links{
    margin: 0 auto;
}

.cornavabar{
    background-color: #fff0e9 ;
}

.botaonavbar{
    background-color: #f99c80 ;
    color: #fff0e9;
    padding: 10px 20px;
    border-radius: 8px;
}

.botaonavbar:hover{ /*configuração para quando a seta esta em cima do link*/
    color:#fff0e9 ;
    background-color: #ff7d56;
    transition: 0.5s;
}

p{
    font-family: 'Open Sans', sans-serif;   
    color: #9d9f9e;
    font-size: 1rem;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /*peso da fonte*/
    color: #000002;
    font-size: 3.2rem;

}
h1 span{
    color: #ff7d56;
   
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color:#9d9f9e ;

}

h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /*peso da fonte*/
    color: #000002;
    font-size: 1.8rem;
}

h5{
    font-family: 'Poppins', sans-serif;
    color: #000002;
    font-size: 1.1rem;

}

.chamadabox{
    padding-top: 2rem;
}

.features{
    background-color: #fff0e9 ;
    color: #daaa9d ;
    padding: 5px 15px;/*5 em cima e embaixo / 10 direita e esquerda */
    border-radius: 25px;
    text-transform: uppercase; /*upercase- negrito*/
    font-family: 'Poppins', sans-serif;

}

.fototexto{
    margin-top: 7rem;
}

.rowsfototexto{
    margin-bottom: 5rem;
}

.espacotexto{
    padding-top: 4rem;
}


